# Dependencias de Node
node_modules/

# Archivos generados por el build de Astro
dist/
.astro/

# Archivos de variables de entorno (¡Muy importante para no filtrar contraseñas!)
.env
.env.*
!.env.example

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos basura del sistema operativo
.DS_Store
Thumbs.db